@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User Role</h1>

<div>
    <h4>User Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Current Role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>

    <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <label for="role">Select New Role:</label>
            <select class="form-control" id="role" asp-for="Role">
                <option>Admin</option>
                <option>Manager</option>
                <option>User</option>
            </select>
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>